[submodule "zsupport-server"]
	path = zsupport-server
	url = https://github.com/sangcu/zsupport-server.git
[submodule "zsupport-client"]
	path = zsupport-client
	url = https://github.com/sangcu/zsupport-client.git
[submodule "zsupport-admin"]
	path = zsupport-admin
	url = https://github.com/sangcu/zsupport-admin.git
